{{>partials/header}}

    {{#showOld}}
        O {{name}} {{lastName}} é maior de idade
    {{/showOld}}
    {{^showOld}}
        O {{name}} {{lastName}} é menor de idade
    {{/showOld}}

    <hr>

    <h2>Produtos</h2>

    <ul>
        {{#products}}
            {{>partials/productItem}}
        {{/products}}
    </ul>

    <h2>Tarefas</h2>

    <ul>
        {{#tarefas}}
            <li>{{ . }}</li>
        {{/tarefas}}
        {{^tarefas}}
            Nenhuma tarefa para essa semana :)
        {{/tarefas}}
    </ul>
{{>partials/footer}}