body {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page {
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginPage {
    display: none;
    background-color: white;
}

#loginNameInput {
    border: 2px solid #000;
    background-color: #CCC;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
    width: 100%;
    max-width: 400px;
}

#chatPage {
    display: flex;
}

.chatArea {
    flex: 1;
    width: 100%;
    display: flex;

    background-color: #CCC;
}

.chatList {
    flex: 1;
    background-color: white;
}

.userList {
    width: 200px;
    background-color: #CCC;
}

.chatInput {
    width: 100%;
    display: flex;
}

#chatTextInput {
    flex: 1;
    height: 40px;
    padding: 0 10px;
    font-size: 15px;
    background-color: #CCC;
    outline: 0;
    border: 0;
}

